
version: '3.1'

volumes:
  pgdb-auctionpie:

networks:
  auctionpie-net:
    driver: bridge

services:
  postgres:
    image: postgres
    container_name: postgres
    restart: always
    networks:
      - auctionpie-net
    env_file:
      - ./env.postgres.local
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - pgdb-auctionpie:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    networks:
      - auctionpie-net
    ports:
      - 127.0.0.1:8080:8080

  redis:
    image: redis
    restart: always
    container_name: redis
    networks:
      - auctionpie-net

  django: &django
    build:
      context: .
      dockerfile: ./Dockerfile
    image: django
    container_name: django
    restart: always
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/code
    env_file:
      - ./env.django.local
      - ./env.postgres.local
    networks:
      - auctionpie-net
    ports:
      - "8000:8000"
    command: /start


  celeryworker:
    <<: *django
    image: celeryworker
    container_name: celeryworker
    user: celery
    depends_on:
      - redis
      - postgres
      - django
    networks:
      - auctionpie-net
    ports: []
    command: /start-celeryworker


  celerybeat:
    <<: *django
    image: celerybeat
    container_name: celerybeat
    user: celery
    depends_on:
      - redis
      - postgres
      - django
    networks:
      - auctionpie-net
    ports: []
    command: /start-celerybeat